/* FONTS */

/* krub-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Krub';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/krub-v9-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/krub-v9-latin-500.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-v26-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v26-latin-700.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v26-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v26-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* VARS */
:root {
  --main-font: 'Krub', sans-serif;
  --second-font: 'Rubik', sans-serif;
  --accent: #091242;
  --font-weight: 500;
  --text-color: #666C89;
  --line-height: 151.52%;
}



/* ! ГЛОБАЛЬНЫЕ СТИЛИ */
body::-webkit-scrollbar {
    width: 8px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(23, 94, 156);
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;

    font-size: 16px;
    font-family: var(--main-font);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    color: var(--text-color);
}

.body_scrollbar_none {
    overflow: hidden !important;
}

a {
  text-decoration: none;
  font: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  font: inherit;
}

.dnone {
    display: none;
}

.w0 {
    width: 0 !important;
}

/* ! ГЛОБАЛЬНЫЕ СТИЛИ */

header {
    z-index: 10;
    position: relative;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 160px;

    background: var(--accent);
    z-index: 10;
}

.header__container {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.header__top__1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__top__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header__special {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.header__special__img {
    height: 63px;
    width: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111C55;
    border: 1px solid #273270;
    border-radius: 100%;
    margin-right: 10px;
}

.header__special__text {
    height: auto;
}

.header__special__text p {
    margin: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 135.02%;
}



.hb {
    height: 100%;
}

.header__bottom {
    position: absolute;
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(9, 18, 66, 0.25);
    z-index: 10;
}

.header__bottom__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

.header__bottom__nav a {
    text-decoration: none;
    display: flex;
    align-items: center;

    height: 100%;
    margin: auto;
    padding: 0 10px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
}

.header__bottom__nav p {
    padding: 0;
    margin: calc(100% - 16px) 0;
}

.header__bottom__nav a:hover {
    border-color:#FFFFFF;
}

.header__bottom__2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header__nav li {
    list-style: none;
    text-decoration: none;
}

.header__hr {
    width: 14px;
    rotate: 90deg;
    color: #FFFFFF;
}

.header__nav {
    display: flex;
}

.header__nav img {
    margin: 10px;
}

.header__button {
    height: 100%;
    border: none;
    background-color: white;
    width: 216px;
    margin: 10px;
}

.header__button:hover {
    cursor: pointer;
}

.header__button a {
    text-decoration: none;
    color: black;
    width: 216px;
}

.header__burger {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    width: 200px;
    height: 100vh;
    z-index: 1;
    background-color: var(--accent);
    transition: 0.4s ease-in-out;
    overflow: scroll;
    padding: 20px 0;
}

.header__burger::-webkit-scrollbar {
    display: none;
}

.header__burger__nav {
    overflow: hidden;
    margin: 0 20px;
}

.header__burger__nav a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    height: 100%;
    margin: auto;
    padding: 0 10px;

    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    color: #FFFFFF;
    border-bottom: 2px solid transparent;
}

.header__burger__nav p {
    padding: 0;
    margin: 10px;
    flex-grow: unset;
}

.header__burger h2 {
    width: 100%;
    color: #FFB82B;
    text-align: center;
    font-size: 25px;
    border-bottom: 1px solid;
    padding: 0 0 10px 0;
    margin-bottom: 5px;
}

.burger__btn {
    background-color: unset;
    border: none;
    overflow: hidden;
    display: none;
}

.burger__btn img {
    height: 40px;
    width: 40px;
}

.burger__links {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 0 0;
    padding: 0;
}

.burger__inner__button {
    height: 40px;
    border: none;
    background-color: white;
    width: 100%;
    margin: 10px 0;
}

.burger__inner__button:hover {
    cursor: pointer;
}

.burger__inner__button a {
    text-decoration: none;
    color: black;
    width: 216px;
}




.photo {
    width: 100%;
    height: auto;
    position: relative;
    top: -78px;
    z-index: 0;
}


/* PREVIEW SECTION */

.preview {
  padding-top: 254px;
  padding-bottom: 100px;
  min-height: 100vh;
  height: 100%;
  width: 100%;

  background-image:  url('../assets/head-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff;
}

.container__preview {
  min-height: 100vh;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.preview__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 555px;
}

.preview__title {
  margin: 0;
  margin-bottom: 5px;

  font-family: var(--second-font);
  font-weight: 700;
  line-height: 71px;
  font-size: 60px;
}

.preview__subtitle {
  margin: 0;
  margin-bottom: 24px;
}

.preview__uptitle {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
  padding-bottom: 3px;
  order: -1;
  
  border-left: 4px solid #FFB629;
  font-family: var(--second-font);
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  
  background: rgba(4, 28, 55, 0.5);
}

.preview__button {
  position: relative;
  width: 194px;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
  color: #23212A;
  line-height: 135.02%;
  font-weight: 500;
  overflow: hidden;
  transition: 0.3s ease;
}

.preview__button:hover,
.preview__button:focus {
  background: linear-gradient(70deg, #ffaa00 -1.21%, #ffe588 58.66%, #FFD7A6 116.84%);
}

.preview__button::after {
  content: '';
  position: absolute;
  width: 68px;
  height: 105px;
  right: -30px;
  transform: rotate(30deg);
  top: 20px;
  background: #ffffff;
  border-radius: 50px/100px;
}



/* SERVICES CLASSES */

.services_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8% 20%;
}

.services {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 33px;
    width: min-content;
}

.services_title {
    width: 294px;
    height: 131px;
}

.services_title aside {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 2px 3px;
    background: rgba(232, 232, 232, 0.5);
    border-left: 4px solid #FFB629;
    width: max-content;
    /* identical to box height */


    color: #1C1F35;
}

.services_title h2 {
    font-family: 'Rubik';
    font-style: normal;
    width: 294px;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;

    color: #1C1F35;
}

.services_specials {
    display: flex;
    margin: 0;
    padding: 0;
}

.services_special {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0;
    margin: 10px;
    max-width: 391px;
}

.services_special img {
    width: 50px;
    height: 54px;
    padding-right: 20px;
    border-right: 1px solid #D8D8D8;
}

.services_special_text {
    margin-left: 20px;
}

.services_special h3 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    width: max-content;
    /* identical to box height */


    color: #1C1F35;
}

.services_special p {
    font-family: 'Krub';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 151.52%;
    /* or 24px */


    color: #666C89;
}


/* ? АДАПТИВ */

@media (max-width: 1280px) {
    .header__container {
        width: 800px;
    }

    .header__top {
        height: 120px;
    }

    .header__bottom {
        height: 60px;
    }

    .header__top__1 img {
        height: 26px;
    }

    .header__special__img {
        height: 40px;
        width: 40px;
    }

    .header__special__img img {
        height: 17px;
        width: 17px;
    }

    .header__special__text p {
        font-size: 10px;
    }

    .header__bottom__nav p {
        font-size: 13px;
    }

    .header__nav img {
        width: 15px;
        height: 15px;
    }

    .header__button {
        width: 170px;
    }

    .header__button a {
        font-size: 10px;
    }

    .photo {
        top: -60px;
    }
}

@media (max-width: 1160px) {
    .services_specials {
        flex-wrap: wrap;
    }
}

@media (max-width: 900px) {
    .header__container {
        width: 600px;
    }

    .header__top {
        height: 90px;
    }

    .header__bottom {
        height: 50px;
    }

    .header__top__1 img {
        height: 20px;
    }

    .header__special__img {
        height: 22px;
        width: 22px;
    }

    .header__special__img img {
        height: 12px;
        width: 12px;
    }

    .header__special__text p {
        font-size: 8px;
    }

    .header__bottom__nav a {
        padding: 0 5px;
    }

    .header__bottom__nav p {
        font-size: 10px;
    }

    .header__nav img {
        width: 12px;
        height: 12px;
    }

    .header__button {
        width: 120px;
    }

    .header__button a {
        font-size: 8px;
    }

    .photo {
        top: -50px;
    }
}

@media (max-width: 800px) {
    .services {
        flex-wrap: wrap;
    }
}

@media (max-width: 720px) {
    .header__container {
        width: 100%;
    }

    .header__top {
        height: 60px;
        padding: 0 20px;
    }

    .header__top__2 {
        display: none;
    }

    .header__bottom {
        display: none;
    }

    .header__top__1 img {
        height: 40px;
    }

    .header__nav img {
        width: 12px;
        height: 12px;
    }

    .header__button {
        width: 120px;
    }

    .header__button a {
        font-size: 8px;
    }

    .burger__btn {
        display: block;
    }

    .photo {
        top: 0;
    }
}